version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
    open-pull-requests-limit: 5

    labels:
      - "dependencies"
      - "security"

    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
